@font-face {
	font-family: 'Rubik Glitch';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/rubikglitch/v2/qkBSXv8b_srFRYQVYrDKh9ZvmA.ttf) format('truetype');
}

/* FILE ARCHIVED ON 03:19:58 Jan 15, 2025 AND RETRIEVED FROM THE INTERNET ARCHIVE ON 17:11:46 May 02, 2026. JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE. ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C. SECTION 108(a)(3)). */
/* playback timings (ms): capture_cache.get: 0.464 load_resource: 139.819 PetaboxLoader3.resolve: 103.286 PetaboxLoader3.datanode: 15.817 */