@import"https://fonts.googleapis.com/css2?family=Anton&display=swap";
@import"https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap";
@import"https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&cache=clear";

.bar[data-v-f1c5f39a] {
	margin-top: 2.5rem;
	width: 35.125rem
}

.bar-progress[data-v-f1c5f39a] {
	display: flex;
	height: .3125rem;
	align-items: flex-start;
	align-self: stretch;
	border-radius: .25rem;
	background: radial-gradient(58.01% 58.02% at 50% 50%, #5e605f66, #5e605f66);
	box-shadow: 0 .125rem 1rem #000000b3
}

.bar-progress-fill[data-v-f1c5f39a] {
	height: inherit;
	border-radius: inherit;
	position: relative;
	overflow: hidden;
	transition: width 1s ease;
	background: linear-gradient(90deg, #234064, #d035ff);
	box-shadow: 1rem 0 .625rem -.125rem #00a4ff
}

.bar-progress-fill[data-v-f1c5f39a]:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(110deg, #e3e3e300, #e3e3e300 40%, #e3e3e380, #e3e3e300 60%, #e3e3e300);
	animation: gradient-f1c5f39a 2s linear infinite
}

@keyframes gradient-f1c5f39a {
	0% {
		transform: translate(-100%)
	}

	to {
		transform: translate(100%)
	}
}

.intro .bg[data-v-b793a925] {
	background: linear-gradient(180deg, #000b1eb3, #070a0fb3 52%, #5000535d);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(1.1)
}
.intro .logo img [data-v-b793a925] {
  filter: drop-shadow(0 0 .75rem #3570ff)
}
.intro .bg-video[data-v-b793a925] {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover
}

.intro .lg[data-v-b793a925] {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column
}

.intro .logo[data-v-b793a925] {
	width: 14rem;
	height: auto;
	z-index: 10;
	transition: transform 1.25s ease-in-out;
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none
}

.intro .logo.pulse[data-v-b793a925] {
	will-change: transform;
	animation: pulse-logo-b793a925 9.25s ease-in-out infinite
}

@keyframes pulse-logo-b793a925 {

	0%,
	to {
		transform: scale(1.3)
	}

	50% {
		transform: scale(1.5)
	}
}

.intro .figures[data-v-b793a925] {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .1;
	-webkit-user-select: none;
	user-select: none
}

.intro .figures .figure1[data-v-b793a925],
.intro .figures .figure2[data-v-b793a925] {
	position: fixed;
	z-index: 10;
	width: 50rem;
	animation-timing-function: ease-in-out
}

.intro .figures .figure1[data-v-b793a925] {
	left: -5%;
	top: -5%;
	will-change: transform;
	animation: animation-pulse1-b793a925 5s infinite
}

.intro .figures .figure2[data-v-b793a925] {
	right: -5%;
	bottom: -5%;
	will-change: transform;
	animation: animation-pulse2-b793a925 12s infinite
}

.intro .figures .figure1 img[data-v-b793a925],
.intro .figures .figure2 img[data-v-b793a925] {
	width: 100%;
	height: auto
}

@keyframes animation-pulse1-b793a925 {

	0%,
	to {
		transform: scale(1)
	}

	50% {
		transform: scale(1.5)
	}
}

@keyframes animation-pulse2-b793a925 {

	0%,
	to {
		transform: scale(1)
	}

	50% {
		transform: scale(1.25)
	}
}

.intro .img-bg[data-v-b793a925] {
	height: 30rem;
	width: 30rem;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0);
	transition: transform .5s ease-in-out, opacity .5s
}

.intro .img-bg img[data-v-b793a925] {
	width: 100%;
	height: auto
}

.intro .img-bg.pulse2[data-v-b793a925] {
	will-change: transform, opacity;
	animation: pulse-b793a925 4s cubic-bezier(0, 0, 0, .5) infinite
}

@keyframes pulse-b793a925 {

	0%,
	to {
		transform: scale(0);
		opacity: 1
	}

	50% {
		transform: scale(10);
		opacity: 0
	}
}

.intro .boxglitch[data-v-b793a925] {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10rem
}

.intro .boxglitch .coming[data-v-b793a925] {
	font-family: Anton, system-ui;
	font-weight: 700;
	font-style: normal;
	font-size: 4.5rem;
	line-height: normal;
	background: linear-gradient(90deg, #5a146b, #015fda);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: absolute;
	-webkit-user-select: none;
	user-select: none
}

.intro .boxglitch .glitch[data-v-b793a925] {
	text-align: center;
	font-family: Rubik Glitch, system-ui;
	font-size: 8.75rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: #3570ff;
	opacity: .1;
	position: absolute;
	-webkit-user-select: none;
	user-select: none
}

.intro .boxglitch .line[data-v-b793a925]:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0
}

.intro .boxglitch .line[data-v-b793a925]:nth-child(1) {
	animation: clip-b793a925 3s -.3s linear infinite, glitch1-b793a925 .5s -943ms linear infinite
}

@keyframes glitch1-b793a925 {
	0% {
		transform: translate(0)
	}

	80% {
		transform: translate(0);
		color: #311b92
	}

	85% {
		transform: translate(1rem);
		color: #6200ea
	}

	90% {
		transform: translate(3rem);
		color: #00b0ff
	}

	95% {
		transform: translate(1rem);
		color: #311b92
	}

	to {
		transform: translate(0)
	}
}

.intro .boxglitch .line[data-v-b793a925]:nth-child(2) {
	animation: clip-b793a925 3s -.6s linear infinite, glitch2-b793a925 .5s -291ms linear infinite
}

@keyframes glitch2-b793a925 {
	0% {
		transform: translate(0)
	}

	80% {
		transform: translate(0);
		color: #311b92
	}

	85% {
		transform: translate(1rem);
		color: #6200ea
	}

	90% {
		transform: translate(2rem);
		color: #00b0ff
	}

	95% {
		transform: translate(1rem);
		color: #311b92
	}

	to {
		transform: translate(0)
	}
}

.intro .boxglitch .line[data-v-b793a925]:nth-child(3) {
	animation: clip-b793a925 3s -.9s linear infinite, glitch3-b793a925 .5s -935ms linear infinite
}

@keyframes glitch3-b793a925 {
	0% {
		transform: translate(0)
	}

	80% {
		transform: translate(0);
		color: #311b92
	}

	85% {
		transform: translate(0);
		color: #6200ea
	}

	90% {
		transform: translate(0);
		color: #00b0ff
	}

	95% {
		transform: translate(4rem);
		color: #311b92
	}

	to {
		transform: translate(0)
	}
}

.intro .boxglitch .line[data-v-b793a925]:nth-child(4) {
	animation: clip-b793a925 3s -1.2s linear infinite, glitch4-b793a925 .5s -827ms linear infinite
}

@keyframes glitch4-b793a925 {
	0% {
		transform: translate(0)
	}

	80% {
		transform: translate(0);
		color: #311b92
	}

	85% {
		transform: translate(1rem);
		color: #6200ea
	}

	90% {
		transform: translate(3rem);
		color: #00b0ff
	}

	95% {
		transform: translate(1rem);
		color: #311b92
	}

	to {
		transform: translate(0)
	}
}

.intro .boxglitch .line[data-v-b793a925]:nth-child(5) {
	animation: clip-b793a925 3s -1.5s linear infinite, glitch5-b793a925 .5s -863ms linear infinite
}

@keyframes glitch5-b793a925 {
	0% {
		transform: translate(0)
	}

	80% {
		transform: translate(0);
		color: #311b92
	}

	85% {
		transform: translate(4rem);
		color: #6200ea
	}

	90% {
		transform: translate(3rem);
		color: #00b0ff
	}

	95% {
		transform: translate(2rem);
		color: #311b92
	}

	to {
		transform: translate(0)
	}
}

.intro .boxglitch .line[data-v-b793a925]:nth-child(6) {
	animation: clip-b793a925 3s -1.8s linear infinite, glitch6-b793a925 .5s -866ms linear infinite
}

@keyframes glitch6-b793a925 {
	0% {
		transform: translate(0)
	}

	80% {
		transform: translate(0);
		color: #311b92
	}

	85% {
		transform: translate(2rem);
		color: #6200ea
	}

	90% {
		transform: translate(4rem);
		color: #00b0ff
	}

	95% {
		transform: translate(1rem);
		color: #311b92
	}

	to {
		transform: translate(0)
	}
}

.intro .boxglitch .line[data-v-b793a925]:nth-child(7) {
	animation: clip-b793a925 3s -2.1s linear infinite, glitch7-b793a925 .5s -697ms linear infinite
}

@keyframes glitch7-b793a925 {
	0% {
		transform: translate(0)
	}

	80% {
		transform: translate(0);
		color: #311b92
	}

	85% {
		transform: translate(0);
		color: #6200ea
	}

	90% {
		transform: translate(0);
		color: #00b0ff
	}

	95% {
		transform: translate(1rem);
		color: #311b92
	}

	to {
		transform: translate(0)
	}
}

.intro .boxglitch .line[data-v-b793a925]:nth-child(8) {
	animation: clip-b793a925 3s -2.4s linear infinite, glitch8-b793a925 .5s -174ms linear infinite
}

@keyframes glitch8-b793a925 {
	0% {
		transform: translate(0)
	}

	80% {
		transform: translate(0);
		color: #311b92
	}

	85% {
		transform: translate(4rem);
		color: #6200ea
	}

	90% {
		transform: translate(0);
		color: #00b0ff
	}

	95% {
		transform: translate(2rem);
		color: #311b92
	}

	to {
		transform: translate(0)
	}
}

.intro .boxglitch .line[data-v-b793a925]:nth-child(9) {
	animation: clip-b793a925 3s -2.7s linear infinite, glitch9-b793a925 .5s -552ms linear infinite
}

@keyframes glitch9-b793a925 {
	0% {
		transform: translate(0)
	}

	80% {
		transform: translate(0);
		color: #311b92
	}

	85% {
		transform: translate(4rem);
		color: #6200ea
	}

	90% {
		transform: translate(1rem);
		color: #00b0ff
	}

	95% {
		transform: translate(0);
		color: #311b92
	}

	to {
		transform: translate(0)
	}
}

.intro .boxglitch .line[data-v-b793a925]:nth-child(10) {
	animation: clip-b793a925 3s -3s linear infinite, glitch10-b793a925 .5s -808ms linear infinite
}

@keyframes glitch10-b793a925 {
	0% {
		transform: translate(0)
	}

	80% {
		transform: translate(0);
		color: #4a148c
	}

	85% {
		transform: translate(0);
		color: #6200ea
	}

	90% {
		transform: translate(2rem);
		color: #00b0ff
	}

	95% {
		transform: translate(0);
		color: #311b92
	}

	to {
		transform: translate(0)
	}
}

@keyframes clip-b793a925 {
	0% {
		clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%)
	}

	to {
		clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0)
	}
}

.social[data-v-caae06b9] {
	display: inline-flex;
	padding: .75rem;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	z-index: 1000;
	position: relative;
	border-radius: 0rem 0rem 1rem 1rem;
	background: #0a0e15;
	float: right;
	right: 2rem;
	transition: transform 1s ease;
	transform: translateY(-100%);
	animation: viewTransitionBig-caae06b9 1s ease forwards
}

@keyframes viewTransitionBig-caae06b9 {
	0% {
		transform: translateY(-100%)
	}

	to {
		transform: translateY(0)
	}
}

.social.mobile[data-v-caae06b9] {
	width: 100%;
	bottom: 0;
	position: absolute;
	border-radius: 1rem 1rem 0rem 0rem;
	float: none;
	right: 0;
	transition: transform 1s ease;
	transform: translateY(0);
	animation: viewTransitionSmall-caae06b9 1s ease forwards
}

.social.mobile .social-icons[data-v-caae06b9] {
	gap: .5rem
}

.social.mobile .social-icons a[data-v-caae06b9] {
	width: 10rem;
	height: 10rem
}

.social.mobile .social-icons a img[data-v-caae06b9] {
	width: 5rem;
	height: 5rem
}

.social.small[data-v-caae06b9]:not(.mobile) {
	width: 100%;
	bottom: 0;
	position: absolute;
	border-radius: 1rem 1rem 0rem 0rem;
	float: none;
	right: 0;
	transition: transform 1s ease;
	transform: translateY(0);
	animation: viewTransitionSmall-caae06b9 1s ease forwards
}

.social.small:not(.mobile) .social-icons[data-v-caae06b9] {
	gap: .5rem
}

.social.small:not(.mobile) .social-icons a[data-v-caae06b9] {
	width: 5rem;
	height: 5rem
}

.social.small:not(.mobile) .social-icons a img[data-v-caae06b9] {
	width: 2.5rem;
	height: 2.5rem
}

@keyframes viewTransitionSmall-caae06b9 {
	0% {
		transform: translateY(100%)
	}

	to {
		transform: translateY(0)
	}
}

.social .social-icons[data-v-caae06b9] {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem
}

.social .social-icons a[data-v-caae06b9] {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: .5rem;
	transition: background .25s ease
}

.social .social-icons a[type=discord][data-v-caae06b9]:hover {
	filter: drop-shadow(0 0 .75rem #7289da)
}

.social .social-icons a[type=youtube][data-v-caae06b9]:hover {
	filter: drop-shadow(0 0 .75rem #ff0000)
}

.social .social-icons a[type=x][data-v-caae06b9]:hover {
	filter: drop-shadow(0 0 .75rem #ffffff)
}

.social .social-icons a[type=twitch][data-v-caae06b9]:hover {
	filter: drop-shadow(0 0 .75rem #6441a5)
}

.social .social-icons a img[data-v-caae06b9] {
	width: 1.5rem;
	height: 1.5rem
}

:root {
	font-size: 1.4814814815vh;
	font-family: Wix Madefor Display, sans-serif !important;
	transition: font-size .15s linear
}

@media (max-width: 430px) {
	:root {
		font-size: 1.6666666667vw
	}
}

* {
	box-sizing: border-box
}

body {
	background-size: 100%;
	overflow: hidden
}

body,
html,
main-wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0
}

/*
     FILE ARCHIVED ON 21:35:30 Jan 19, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:11:46 May 02, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 12.905
  load_resource: 557.395
  PetaboxLoader3.resolve: 489.672
  PetaboxLoader3.datanode: 66.818
*/